* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
.container {
  margin: 0 auto;
  width: 1216px;
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  column-gap: 10px;
}
.card__info {
  padding: 10px;
}
.card {
  width: 288px;
  border: 1px solid red;
}
.card__title {
  padding: 24px;
}
